<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>341125340501-usndipc80k8rnjp4cogca412khtppu7s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.341125340501-usndipc80k8rnjp4cogca412khtppu7s</string>
	<key>API_KEY</key>
	<string>AIzaSyAA1-2WMYvnVbqnC1bV7aC1NOx3tD76CwI</string>
	<key>GCM_SENDER_ID</key>
	<string>341125340501</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.Chat-Miyu</string>
	<key>PROJECT_ID</key>
	<string>chat-miyu-c04b9</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-miyu-c04b9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:341125340501:ios:754af4fb332fec68ff63dc</string>
</dict>
</plist>